*{
    font-family: Raleway;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
}

.container{
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr auto 0.1fr;
    grid-template-areas:  
                        "header"  
                        "main"
                        "footer";
}





/*--------HEADER--------*/
header{
    width: 100%;
    background-color: rgb(197, 187, 174);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    grid-area: header;
}

header .logo{
    width: 14rem;
    height: 8.5rem;
    margin-left: 2rem;
}
   
header nav .menuNavbar{
    display: flex;
    list-style: none;
    column-gap: 2rem;
    padding-right: 3rem;
}

header nav .menuNavbar li a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    transition: all 0.3s ease 0s;
}

header nav .menuNavbar li a:hover{
    color: white;
    font-size: 1.3rem;
}






/*------------HEROSECTION-----------*/
.heroSection{
    font-style: italic;
    text-align: center;
    background-image: url(../images/kioskiriFrente2.png);
    background-size: 100% 100%;
    height: 51.5rem;
    opacity: 0.8;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: main;
}

.heroSection h2{
    color: white;
    font-size: 3.8rem;
    text-shadow: 0 0 1rem rgb(0 0 0 );
    animation: efecto_texto 2s;
}

.heroSection p{
    color: white;
    font-size: 1.7rem;
    text-shadow: 0 0 1rem rgb(0, 0, 0);
    animation: efecto_texto 2s;
}

@keyframes efecto_texto {
    0%{margin-left: -150rem;}
}

.heroSection a{
    color: white;
    text-decoration:underline;
}






/*-----------------OFERTAS------------------*/
.ofertas{
    grid-area: main;
    padding-top: 1rem;
}

.ofertas h2{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    transition: all 0.3s 0s;
}

.ofertas h2:hover{
    color: white;
    font-size: 3.5rem;
}

.ofertas div{
    display: flex;  
    justify-content: center;
    flex-direction: row; 
    justify-content: space-around;
    align-items: flex-end;
    margin-bottom: 3rem;
}

.ofertas div div{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1s;
}

.ofertas div div p{
    font-size: 1.5rem;
    margin: 0.7rem 0;
}

.ofertas div div img{
    height: 15rem;
    width: fit-content;
}

.ofertas div div:hover{
    transform: scale(1.1);
}

.ofertas div div .carrito{
    width: rem;
    height: 2rem;
}




/*------------PRODUCTOS--------------*/
.productosDestacados{
    grid-area: main;
    height: 26%;
}

.productosDestacados h2{
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    text-align: center;
    border: 0.1rem solid grey;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    width: 60%;
    font-size: 3rem;
    height: 10rem;
    text-align: center;
    transition: all 0.5s ease 0s;
}

.productosDestacados h2:hover{
    font-size: 3.5rem;
}

.productosDestacados div{
    display: flex;  
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 3rem;
}

.productosDestacados div div{
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: 1s;
}

.productosDestacados div div:hover{
    transform: scale(1.1);
}

.productosDestacados div div img{
    height: 15rem;
    width: fit-content;
}

.productosDestacados div div p{
    margin: 0.5rem;
    font-size: 1.5rem;
}

.productosDestacados div div .carrito{
    height: 2rem;
    width: 2rem;
}




/*------------------------ MI CUENTA ----------------*/
.inputIngresar{
    text-align: center;
    align-items: center;
    width: 5rem;
    margin: 0.3rem 2rem 0.5rem 2rem;
    padding: 0.2rem;
    box-shadow: 0rem 0rem 1rem grey;
}






/*-------------------SOBRE NOSOTROS----------------*/
.sobreNosotros{
    font-style: italic;
    height: 75vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.515), rgba(0, 0, 0, 0.48)), url(../images/kioskiriFrente4.png);
    background-size: 100% 100%;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: main;
}

.sobreNosotros h2{
    color: white;
    font-size: 3.8rem;
    text-shadow: 0 0 1rem rgb(0 0 0 );
    animation: efecto_texto 2s;
}

.sobreNosotros p{
    color: white;
    font-size: 1.7rem;
    font-style: italic;
    text-shadow: 0 0 1rem rgb(0, 0, 0);
    width: 70%;
    padding-top: 1rem;
    animation: efecto_texto 2s;
}






/*--------------------CONTACTANOS----------------*/
.contactanos{
    height: 80vh;
    grid-area: main;
}

.formulario{
    text-align: center;
    margin: 6rem auto;
    width: 50rem;
    background-color: rgb(197, 187, 174);
}

.formulario h2{
    color: white;
}

.inputForm{
    width: 40rem;
    border: 0.1rem solid grey;
    border-radius: 0.4rem;
    margin: 1rem auto;
    padding: 0.3rem;
}

.inputMensaje{
    display: flex;
    width: 40rem;
    border: 0.1rem solid grey;
    border-radius: 0.4rem;
    margin: 1rem auto;
    padding: 0.3rem 0.3rem 6rem 0.3rem;
}






/*---------------------FOOTER-----------------*/
footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(197, 187, 174);
    margin-top: 3rem;
    grid-area: footer;
}

footer div{
    padding-top: 1rem;
}

footer div img{
    margin-top: 0.3rem;
    width: 2.3rem;
    height: 1.5rem;
}

.bases{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logoFooter{
    width: 5rem;
    height: 3rem;
}






/*---------------------MEDIA QUERIS--------------------*/
@media screen and (max-width: 1100px) {
    header{
        display: flex;
        flex-wrap: nowrap;
    }  
    
    header nav .menuNavbar{
        column-gap: 1rem;
    }





    /*-----ofertas----*/
    .ofertas{
        padding-top: 65%;
    }

    /*----SobreNosotros-----*/
    .sobreNosotros{
        margin-bottom: 0;
    }


    /*-----MiCuenta/Contactanos----*/
    .inputForm{
        width: 45rem;
    }

    .inputMensaje{
        width: 45rem;
    }
}



/*----------------------------------------------------*/
@media screen and (max-width: 780px){
    header{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    header .logo{
        margin-right: auto;
        margin-left: auto;
    }

    header nav .menuNavbar {
        margin-left: 1.2rem;
    }
}






/*---------------------------------------------------*/
@media screen and (max-width:600px) {

    .container{
        width: 37.5rem;
        font-size: 0.7rem;
    }

    header nav .menuNavbar li{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 0.2rem;
        border:1px solid grey;
        border-top: 0;
        border-bottom: 0;
        border-left: 0;
    }

    header nav .menuNavbar li a{
        padding-right: 0.6rem;
        font-size: 0.8rem;
    }


    /*--------------HeroSection-----------*/
    .heroSection h2{
        font-size: 3rem;
    }
    
    .heroSection p{
        font-size: 1.3rem;
    }



    /*-------Ofertas------*/
    .ofertas h2{
        font-size: 3rem;
    }

    .ofertas div{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .ofertas div div img{
        height: 12rem;
    }


    /*-----Productos----*/
    .productosDestacados{
        height: 100%;
    }

    .productosDestacados h2{
        font-size: 2.5rem;
    }

    .productosDestacados div{
        display: flex;
        flex-direction: column;
    }
    
    .productosDestacados div div img{
        height: 13rem;
        margin-top: 0;
    }





    /*-------Contactanos/Micuenta---------*/
    .formulario{
        width: 35.5rem;
        margin: 6rem 1rem;
    }

    .inputForm{
        width: 30rem;
    }

    .inputMensaje{
        width: 30rem;
    }

    /*------Sobre Nosotros----*/
    .sobreNosotros h2{
        text-align: center;
        font-size: 3rem;
    }

    .sobreNosotros p{
        font-size: 1rem;
        width: 90%;
    }
}


@media screen and (max-width: 360px) {
    .container{
        width: 360px;
    }

    header{
        width: 360px;
    }

    header .logo{   
        width: 7rem;
        height: 5rem;
    }

    header nav .menuNavbar{
        margin-left: 3.6rem;
    }

    header nav .menuNavbar li{
        padding-bottom: 0.2rem;
    }

    header nav .menuNavbar li a{
        padding: 0;
        font-size: 0.6rem;
    }

    
    /*-----HeroSection-----*/
    .heroSection{
        height: 23rem;
    }

    .heroSection h2{
        font-size: 2rem;
    }

    .heroSection p{
        font-size: 1rem;
    }




    /*---ofertas--*/
    .ofertas{
        width: 360px;
    }

    .ofertas h2{
        font-size: 2rem;
    }

    .ofertas div div img{
        margin-top: 1rem;
        height: 9rem;
    }



    /*----productos----*/
    .productosDestacados h2{
        font-size: 2rem;
    }   

    .productosDestacados div div img{
        height: 9rem;
    }


    /*--contactanos/miCuenta--*/
        .formulario{
        width: 21rem;
        margin: 6rem 1rem;
    }
        
    .inputForm{
        width: 19rem;
    }

    .inputMensaje{
        width: 19rem;
    }


    footer{
        width: 360px;
    }
}




