*{
    font-family: Raleway;
    margin: 0;
    padding: 0;
}

body{
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr auto 0.1fr;
    grid-template-areas:  
                        "header"  
                        "main"
                        "footer";
}





/*--------HEADER--------*/
header{
    background-color: rgb(197, 187, 174);
    display: flex;
    flex-wrap: wrap;
    grid-area: header;
}

header .navbar-nav{
    column-gap: 1rem;
}

header nav .navbar-nav li a{
    color: black;
    font-size: 1.rem;
    font-weight: bold;
    transition: all 0.3s ease 0s;
}

header nav .navbar-nav li a:hover{
    color: rgb(126, 124, 124);
    font-size: 1.2rem;
}

.dropdown{
    display: none;
}






/*------------HEROSECTION-----------*/
.main{
    grid-area: main;
}

.carousel-caption h5{
    font-size: 3.8rem;
    text-shadow: 0 0 1rem rgb(0 0 0 );
    animation: efecto_texto 2s;
}

.carousel-caption p{
    color: white;
    font-size: 1.7rem;
    text-shadow: 0 0 1rem rgb(0, 0, 0);
    animation: efecto_texto 2s;
}

@keyframes efecto_texto {
    0%{margin-left: -150rem;}
}






/*-----------------OFERTAS------------------*/
.ofertas{
    background-color: antiquewhite;
    padding-top: 1rem;
    height: 30rem;
}

.ofertas h2{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    transition: all 0.3s 0s;
}

.ofertas h2:hover{
    font-size: 3.5rem;
}

.ofertas div{
    display: flex;  
    justify-content: center;
    flex-direction: row; 
    justify-content: space-around;
    align-items: flex-end;
    margin-bottom: 3rem;
}

.ofertas div div{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1s;
}

.ofertas div div p{
    font-size: 1.5rem;
}

.ofertas img{
    height: 12rem;
    width: fit-content;
}

.ofertas div div:hover{
    transform: scale(1.1);
}

.ofertas div div .carrito{
    width: 2rem;
    height: 2rem;
}




/*------------PRODUCTOS--------------*/
.productosDestacados{
    margin-bottom: 3rem;
}

.productosDestacados h2{
    margin-top: 3rem;
    font-weight: bold;
    text-align: center;
    border: 0.1rem solid grey;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    font-size: 3rem;
    height: 10rem;
    text-align: center;
    transition: all 0.5s ease 0s;
}

.productosDestacados h2:hover{
    font-size: 3.5rem;
}

.productosDestacados div{
    display: flex;  
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.productosDestacados div div{
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: 1s;
}

.productosDestacados div div:hover{
    transform: scale(1.1);
}

.productosDestacados div div img{
    height: 11rem;
    width: fit-content;
}

.productosDestacados div div h3{
    font-size: 1.4rem;
}

.productosDestacados div div p{
    margin: 0.5rem;
    font-size: 1.2rem;
}

.productosDestacados div div .carrito{
    height: 2rem;
    width: 2rem;
}








/*-------------------SOBRE NOSOTROS----------------*/
.sobreNosotros{
    font-style: italic;
    height: 75vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.515), rgba(0, 0, 0, 0.48)), url(../images/kioskiriFrente4.png);
    background-size: 100% 100%;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: main;
}

.sobreNosotros h2{
    color: white;
    font-size: 3.8rem;
    text-shadow: 0 0 1rem rgb(0 0 0 );
    animation: efecto_texto 2s;
}

.sobreNosotros p{
    color: white;
    font-size: 1.7rem;
    font-style: italic;
    text-shadow: 0 0 1rem rgb(0, 0, 0);
    width: 70%;
    padding-top: 1rem;
    animation: efecto_texto 2s;
}

.mapa{
    margin: 2rem;
    display: flex;
    justify-content: center;
}

.mapa div{
    background-color: rgb(197, 187, 174);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    border-radius: 1rem;
}

.mapa iframe{
    margin: 0.5rem;
    border-radius: 1rem;
}

.mapa h2{
    text-align: center;
    margin: 1rem;
    font-size: 1.4rem;
}




/*---------------CONTACTANOS/MICUENTA-----------*/
form{
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 52rem;
    height: 28rem;
    color: black;
    background-color: rgb(197, 187, 174);
}

.form{
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
}

.mb-3{
    text-align: center;
}

.mb-3 .form-label{
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

.mb-3 .form-control{
    height: 2rem;
    width: 45rem;
}

.mb-3 .form-text{
    margin: 0rem;
}







/*---------TRABAJA CON NOSOTROS----------*/
.work-us{
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: 3rem;
}

.work-us .card{
    display: flex;
    align-items: center;
    height: 30rem;
    background-color: rgb(197, 187, 174);
}

.work-us .card .row .img-fluid{
    height: 30rem;
}

.work-us .card-body .card-title{
    margin-bottom: 3rem;
    font-weight: bold;
    font-size: 3rem;
}

.work-us .card-body .card-text{
    font-weight: 400;
}

.work-us .card-body .card-text button{
    font-weight: bold;
}








/*---------------------FOOTER-----------------*/
footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(197, 187, 174);
    grid-area: footer;
}

footer div{
    text-align: center;
    padding-top: 2rem;
}

footer h4{
    font-size: 1.4rem;
}

footer img{
    margin-top: 0.3rem;
    width: 2.3rem;
    height: 1.5rem;
}

.bases{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bases h2{
    font-size: 1.5rem;
}

.bases .logoFooter{
    width: 5rem;
    height: 3rem;
}




















/*---------------------MEDIA QUERIS--------------------*/
@media screen and (max-width: 992px) {
    /*--HeroSection--*/
    .carousel-caption h5{
        font-size: 3.3rem;
    }

    .carousel-caption p{
        font-size: 1.2rem;
    }


    /*--Ofertas--*/
    .ofertas div div h3{
        font-size: 1.2rem;
    }

    

    /*--Productos--*/
    .productosDestacados h2{
        font-size: 2.5rem;
    }

    .productosDestacados div div{
        margin-bottom: 2rem;
    }

    .productosDestacados div div h3{
        font-size: 1.3rem;
    }

    .productosDestacados div div img{
        height: 10rem;
        width: fit-content;
    }


    /*----SobreNosotros-----*/
    .sobreNosotros{
        margin-bottom: 0;
    }

    .sobreNosotros h2{
        font-size: 3.5rem;
    }

    .sobreNosotros p{
        font-size: 1.4rem;
    }
    


    .mapa h2{
        font-size: 1rem;
    }



    /*--Footer--*/
    footer h4{    
        font-size: 1.2rem;
    }

    .bases h2{
        font-size: 1.2rem;
    }

    .bases p{
        font-size: 0.8rem;
    }

}



/*----------------------------------------------------*/
@media screen and (max-width: 768px){
    header .navbar .navbar-brand .logo{
        width: 12rem;
        height: 7.2rem;
    }
   
    header .navbar-nav{
        column-gap: 0rem;
    }



    /*--HeroSection--*/
    .carousel-caption h5{
        font-size: 3rem;
    }

    .carousel-caption p{
        font-size: 1.5rem;
    }





    /*--Ofertas--*/
    .ofertas h2{
        font-size: 2.5rem;
    }

    .ofertas div div h3{
        margin: 0;
        font-size: 1.3rem;
    }

    .ofertas div div img{
        height: 7.6rem;
        margin-top: 1rem;
    }

    .ofertas div div .carrito{
        height: 1.5rem;
        width: fit-content;
    }




    /*--Productos--*/
    .productosDestacados h2{
        font-size: 2rem;
    }

    .productosDestacados div div h3{
        font-size: 1.1rem;
    }
    
    .productosDestacados div div img{
        height: 9rem;
        width: fit-content;
    }




    /*--SobreNosotros--*/
    .sobreNosotros h2{
        padding-top: 12rem;
        font-size: 2.8rem;
    }

    .sobreNosotros p{
        font-size: 1.2rem;
    }




    /*--MiCuenta/Contactanos--*/
    form{
        width: 44rem;
    }

    .form .mb-3 .form-control{
        font-size: 0.9rem;
        width: 40rem;
    }

    
    
    
    /*--Footer--*/
    footer div h4{
        font-size: 1.2rem;
    }

    .bases h2{
        font-size: 1.2rem;
    }

}





/*---------------------------------------------------*/
@media screen and (max-width:576px) { 
    /*------HEADER------*/
    header .navbar-nav{
        display: none;
    }

    .dropdown{
        display: flex;
        position: absolute;
        top: 6%;
        left: 70%;
    }

    .dropdown .btn{
        color: black;
        border: 0px;
        background-color: transparent;
        margin-bottom: 50rem;
    }

    .dropdown-menu{
        background-color: rgb(197, 187, 174);
    }
     
    .dropdown-menu li{
        display: flex;
    }

    .dropdown-menu li a{
        margin-top: 0.1rem;
        margin-left: 1rem;
        background-color: transparent;
        color: black;
        text-decoration: none;
    }


    /*--HeroSection--*/
    .carousel-caption h5{
        font-size: 1rem;
    }
    



    /*--Ofertas--*/
    .ofertas{
        height: 130vh;
    }

    .ofertas h2{
        font-size: 3rem;
    }

    .ofertas div{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .ofertas div div h3{
        font-size: 0.8rem;
    }

    .ofertas div div img{
        height: 10rem;
    }


    /*--Productos--*/
    .productosDestacados h2{
        font-size: 2rem;
    }

    .productosDestacados div{
        display: flex;
        flex-direction: column;
    }
    
    .productosDestacados div div img{
        height: 9rem;
        margin-top: 0;
    }





    /*--Contactanos/Micuenta--*/
    form{
        width: 32rem;
    }

    .form .mb-3 .form-control{
        width: 30rem;
    }




    /*------Sobre Nosotros----*/
    .sobreNosotros{
       height: 90vh;
    }

    .sobreNosotros h2{
        text-align: center;
        font-size: 3rem;
    }

    .sobreNosotros p{
        font-size: 1rem;
        width: 90%;
    }
}







@media screen and (max-width:450px){
    header .navbar .navbar-brand .logo{   
        width: 11rem;
        height: 7rem;
    }

    header nav .menuNavbar{
        display: none;
    }

    .dropdown{
        width: 6rem;
    }

    .dropdown .btn{
        border: 0px;
        background-color: transparent;
        margin-right: auto;
    }

    .dropdown-menu{
        background-color: rgb(197, 187, 174);
    }

    .dropdown-menu li a{
        margin-left: 1rem;
        background-color: transparent;
        color: black;
        text-decoration: none;
    }



    /*---ofertas--*/
    .ofertas h2{
        font-size: 2rem;
    }

    .ofertas div div img{
        margin-top: 1rem;
        height: 9rem;
    }

    .ofertas div div h3{
        margin: 0;
        font-size: 1rem;
    }

    .ofertas div div p{
        margin-top: 0;
        font-size: 1rem;
    }





    /*--Productos--*/
    .productosDestacados h2{
        font-size: 2rem;
    }   

    .productosDestacados div div img{
        height: 9rem;
    }



    .mapa{
        margin: 1rem;
        display: flex;
        justify-content: center;
    }
    
    .mapa div{
        background-color: rgb(197, 187, 174);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        border-radius: 1rem;
    }
    
    .mapa iframe{
        margin: 1rem;
        border-radius: 1rem;
    }
    
    .mapa h2{
        text-align: center;
        margin: 1rem;
        font-size: 1rem;
    }





    /*--contactanos/miCuenta--*/
    form{
        width: 25rem;
    }



    .form .mb-3 .form-label{
        font-size: 2rem;
    }

    .form .mb-3 .form-control{
        width: 22rem;
    }

    .mb-3 .form-text{
        width: 20rem;
    }

    /*--SobreNosotros--*/
    .sobreNosotros{
        height: 90vh;
    }

    .sobreNosotros h2{
        font-size: 2.2rem;
    }

    .sobreNosotros p{
        text-align: center;
        font-size: 1rem;
    }





    /*--Footer--*/
    footer h4{ 
        font-size: 0.8rem;
    }

    .bases h2{
        font-size: 1rem;
    }

    .bases p{
        font-size: 0.6rem;
    }
}


@media screen and (max-width: 360px) {
    header{
        width: 101%;
    }

    header .navbar .navbar-brand .logo{   
        width: 10rem;
        height: 7rem;
    }

    .dropdown{
        margin-left: 1rem;
        width: 6rem;
    }

    .dropdown .btn{
        border: 0px;
        background-color: transparent;
        margin-right: auto;
    }

    .dropdown-menu{
        background-color: rgb(197, 187, 174);
    }

    .dropdown-menu li a{
        margin-left: 1rem;
        background-color: transparent;
        color: black;
        text-decoration: none;
    }



    .carousel{
        width:101%;
    }



    /*---ofertas--*/
    .ofertas h2{
        font-size: 2rem;
    }

    .ofertas div div img{
        margin-top: 1rem;
        height: 9rem;
    }

    .ofertas div div h3{
        margin: 0;
        font-size: 1rem;
    }

    .ofertas div div p{
        font-size: 1rem;
    }





    /*--Productos--*/
    .productosDestacados div div h2{
        font-size: 2rem;
    }   

    .productosDestacados div div img{
        height: 9rem;
    }




    /*--contactanos/miCuenta--*/
    form{
        width: 21rem;
    }

    .form .mb-3 .form-control{
        width: 20rem;
    }   

    


    /*--SobreNosotros--*/
    .sobreNosotros{
        height: 90vh;
    }

    .sobreNosotros h2{
        margin-top: -10rem;
        font-size: 2.2rem;
    }

    .sobreNosotros p{
        text-align: center;
        font-size: 1rem;
    }

    
    /*------trabaja-------*/
    .work-us{
        height: 60rem;
        width: 16.6rem;
    }

    .work-us .card{
        height: 60rem;
        width: 20rem;
    }
    
    .work-us .card-body .card-title{
        font-size: 1.2rem;
    }

    .work-us .card-body .card-text{
        font-size: 0.8rem;
    }

    /*--Footer--*/
    footer{
        width: 101%;
    }

    footer h4{ 
        font-size: 0.8rem;
    }

    .bases h2{
        font-size: 1rem;
    }

    .bases p{
        font-size: 0.6rem;
    }


}







