*{
    font-family: Raleway;
    letter-spacing: 1px;
}

.container{
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr auto 0.1fr;
    grid-template-areas:  
                        "header"  
                        "main"
                        "footer";
}





/*--------HEADER--------*/
header{
    height: 8rem;
    background-color: rgb(197, 187, 174);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-area: header;
}

header .logo{
    width: 14rem;
    height: 8.5rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
}
   
header nav{
    display: flex;
    align-items: center;
}

header nav .menuNavbar{
    display: flex;
    list-style: none;
    column-gap: 2rem;
}

header nav .menuNavbar li a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    transition: all 0.3s ease 0s;
}

header nav .menuNavbar li a:hover{
    color: rgb(126, 124, 124);
    font-size: 1.3rem;
}

.dropdown{
    visibility: hidden;
}





/*------------HEROSECTION-----------*/
.heroSection{
    font-style: italic;
    text-align: center;
    background-image: url(../images/kioskiriFrente2.png);
    background-size: 100% 100%;
    height: 51.5rem;
    opacity: 0.8;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: main;
}

.heroSection h2{
    color: white;
    font-size: 3.8rem;
    text-shadow: 0 0 1rem rgb(0 0 0 );
    animation: efecto_texto 2s;
}

.heroSection p{
    color: white;
    font-size: 1.7rem;
    text-shadow: 0 0 1rem rgb(0, 0, 0);
    animation: efecto_texto 2s;
}

@keyframes efecto_texto {
    0%{margin-left: -150rem;}
}

.heroSection a{
    color: white;
    text-decoration:underline;
}






/*-----------------OFERTAS------------------*/
.ofertas{
    background-color: antiquewhite;
    grid-area: main;
    padding-top: 1rem;
}

.ofertas h2{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    transition: all 0.3s 0s;
}

.ofertas h2:hover{
    color: white;
    font-size: 3.5rem;
}

.ofertas div{
    display: flex;  
    justify-content: center;
    flex-direction: row; 
    justify-content: space-around;
    align-items: flex-end;
    margin-bottom: 3rem;
}

.ofertas div div{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1s;
}

.ofertas div div p{
    font-size: 1.5rem;
}

.ofertas img{
    margin-top: 4rem;
    height: 12rem;
    width: fit-content;
}

.ofertas div div:hover{
    transform: scale(1.1);
}

.ofertas div div .carrito{
    width: 2rem;
    height: 2rem;
}




/*------------PRODUCTOS--------------*/
.main .row{
    background-color: antiquewhite;
}
.productosDestacados{
    grid-area: main;
    margin-bottom: 3rem;
}

.productosDestacados h2{
    margin-top: 50px;
    font-weight: bold;
    text-align: center;
    border: 0.1rem solid grey;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    font-size: 3rem;
    height: 10rem;
    text-align: center;
    transition: all 0.5s ease 0s;
}

.productosDestacados h2:hover{
    font-size: 3.5rem;
}

.productosDestacados div{
    display: flex;  
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.productosDestacados div div{
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: 1s;
}

.productosDestacados div div:hover{
    transform: scale(1.1);
}

.productosDestacados div div img{
    height: 11rem;
    width: fit-content;
}

.productosDestacados div div h3{
    font-size: 1.4rem;
}

.productosDestacados div div p{
    margin: 0.5rem;
    font-size: 1.2rem;
}

.productosDestacados div div .carrito{
    height: 2rem;
    width: 2rem;
}




/*------------------------ MI CUENTA ----------------*/
.main{
    background-color: antiquewhite;
}

.inputIngresar{
    text-align: center;
    align-items: center;
    width: 5rem;
    margin: 0.3rem 2rem 0.5rem 2rem;
    padding: 0.2rem;
    box-shadow: 0rem 0rem 1rem grey;
}






/*-------------------SOBRE NOSOTROS----------------*/
.sobreNosotros{
    font-style: italic;
    height: 75vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.515), rgba(0, 0, 0, 0.48)), url(../images/kioskiriFrente4.png);
    background-size: 100% 100%;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: main;
}

.sobreNosotros h2{
    color: white;
    font-size: 3.8rem;
    text-shadow: 0 0 1rem rgb(0 0 0 );
    animation: efecto_texto 2s;
}

.sobreNosotros p{
    color: white;
    font-size: 1.7rem;
    font-style: italic;
    text-shadow: 0 0 1rem rgb(0, 0, 0);
    width: 70%;
    padding-top: 1rem;
    animation: efecto_texto 2s;
}






/*--------------------CONTACTANOS----------------*/
.contactanos{
    height: 80vh;
    grid-area: main;
}

.formulario{
    text-align: center;
    margin: 6rem auto;
    width: 50rem;
    background-color: rgb(197, 187, 174);
}

.formulario h2{
    color: white;
}

.form-control{
    height: 2rem;
    margin: 2rem;
    width: 46rem;
}

.inputMensaje{
    display: flex;
    width: 46rem;
    border: 0.1rem solid grey;
    border-radius: 0.4rem;
    margin: 1rem auto;
    padding: 0.3rem 0.3rem 6rem 0.3rem;
}






/*---------------------FOOTER-----------------*/
.footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(197, 187, 174);
    grid-area: footer;
}

.footer div{
    text-align: center;
    padding-top: 1rem;
}

.footer h4{
    font-size: 1.4rem;
}

.footer div img{
    margin-top: 0.3rem;
    width: 2.3rem;
    height: 1.5rem;
}

.bases{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer h2{
    font-size: 1.4rem;
}

.bases .logoFooter{
    width: 5rem;
    height: 3rem;
}






/*---------------------MEDIA QUERIS--------------------*/
@media screen and (max-width: 992px) {
    header{
        height: 8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }  

    header nav .menuNavbar{
        column-gap: 1rem;
    }

    header nav .menuNavbar li a{
        font-size: 0.9rem;
    }


    /*--HeroSection--*/
    .heroSection h2{
        font-size: 3.3rem;
    }

    .heroSection p{
        font-size: 1.2rem;
    }


    /*--Ofertas--*/
    .row .ofertas div div h3{
        font-size: 1.2rem;
    }

    

    /*--Productos--*/
    .productosDestacados h2{
        font-size: 2.5rem;
    }

    .productosDestacados div div{
        margin-bottom: 2rem;
    }

    .productosDestacados div div h3{
        font-size: 1.3rem;
    }

    .productosDestacados div div img{
        height: 10rem;
        width: fit-content;
    }


    /*----SobreNosotros-----*/
    .sobreNosotros{
        margin-bottom: 0;
    }

    .sobreNosotros h2{
        font-size: 3.5rem;
    }

    .sobreNosotros p{
        font-size: 1.4rem;
    }


    /*-----MiCuenta/Contactanos----*/
    .inputMensaje{
        width: 46rem;
    }




    /*--Footer--*/
    .row .footer h4{    
        font-size: 1.2rem;
    }

    .row .bases h2{
        font-size: 1.2rem;
    }

    .row .bases p{
        font-size: 0.8rem;
    }

}



/*----------------------------------------------------*/
@media screen and (max-width: 768px){

    header .logo{
       width: 12rem;
       height: 7.2rem;
   }
   
    header nav .menuNavbar li a{
        font-size: 0.8rem;
    }


    /*--HeroSection--*/
    .heroSection h2{
        font-size: 3rem;
    }

    .heroSection p{
        font-size: 1.5rem;
    }

    /*--Ofertas--*/
    .ofertas h2{
        font-size: 2.5rem;
    }

    .ofertas div h3{
        margin: 0;
        font-size: 1.3rem;
    }

    .ofertas img{
        height: 7.6rem;
        margin-top: 1rem;
    }

    .ofertas div div .carrito{
        height: 1.5rem;
        width: fit-content;
    }




    /*--Productos--*/
    .productosDestacados h2{
        font-size: 2rem;
    }

    .productosDestacados div div h3{
        font-size: 1.1rem;
    }
    
    .productosDestacados div div img{
        height: 9rem;
        width: fit-content;
    }




    /*--SobreNosotros--*/
    .sobreNosotros h2{
        padding-top: 12rem;
        font-size: 2.8rem;
    }

    .sobreNosotros p{
        font-size: 1.2rem;
    }




    /*--MiCuenta/Contactanos--*/
    .formulario{
        width: 44rem;
        margin: 6rem 1rem;
    }

    .form-control{
        font-size: 0.9rem;
        width: 40rem;
    }

    .inputMensaje{  
        font-size: 0.9rem;
        width: 40rem;
    }

    .inputIngresar{
        font-size: 0.9rem;
    }
    
    
    
    
    /*--Footer--*/
    .row .footer h4{
        font-size: 1.2rem;
    }

    .row .bases h2{
        font-size: 1.2rem;
    }

}





/*---------------------------------------------------*/
@media screen and (max-width:576px) {
    .container{
        font-size: 0.7rem;
    }
    
    header nav .menuNavbar{
        display: none;
    }
     
    .dropdown{
        position: absolute;
        top: 9%;
        left: 57%;
        width: 6rem;
        visibility: visible;
    }

    .dropdown .btn{
        color: black;
        border: 0px;
        background-color: transparent;
        margin-bottom: 51rem;
    }

    .dropdown-menu{
        background-color: rgb(197, 187, 174);
    }

    .dropdown-menu li a{
        margin-left: 1rem;
        background-color: transparent;
        color: black;
        text-decoration: none;
    }


    /*--HeroSection--*/
    .heroSection h2{
        font-size: 3rem;
    }
    
    .heroSection p{
        font-size: 1.3rem;
    }



    /*--Ofertas--*/
    .ofertas h2{
        font-size: 3rem;
    }

    .ofertas div{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .ofertas div div h3{
        font-size: 0.8rem;
    }

    .ofertas div div img{
        height: 10rem;
    }


    /*--Productos--*/

    .productosDestacados h2{
        font-size: 2rem;
    }

    .productosDestacados div{
        display: flex;
        flex-direction: column;
    }
    
    .productosDestacados div div img{
        height: 9rem;
        margin-top: 0;
    }





    /*--Contactanos/Micuenta--*/
    .formulario{
        width: 32.8rem;
        margin: 6rem 1rem;
    }

    .form-control{
        font-size: 0.9rem;
        width: 29rem;
    }

    .inputMensaje{  
        font-size: 0.9rem;
        width: 29rem;
    }

    .inputIngresar{
        font-size: 0.9rem;
    }

    /*------Sobre Nosotros----*/
    .sobreNosotros h2{
        text-align: center;
        font-size: 3rem;
    }

    .sobreNosotros p{
        font-size: 1rem;
        width: 90%;
    }




    /*--Footer--*/
    .row .footer{

    }


}


@media screen and (max-width: 360px) {
    header .logo{   
        margin-left: 6.5rem;
        width: 7rem;
        height: 5rem;
    }

    header nav .menuNavbar{
        display: none;
    }

    .dropdown{
        margin-left: 1rem;
        width: 6rem;
        visibility: visible;
    }

    .dropdown .btn{
        border: 0px;
        background-color: transparent;
        margin-right: auto;
    }

    .dropdown-menu{
        background-color: rgb(197, 187, 174);
    }

    .dropdown-menu li a{
        margin-left: 1rem;
        background-color: transparent;
        color: black;
        text-decoration: none;
    }





    /*--HeroSection--*/
    .heroSection{
        width: 360px;
        height: 23rem;
    }

    .heroSection h2{
        font-size: 2rem;
    }

    .heroSection p{
        font-size: 1rem;
    }




    /*---ofertas--*/
    .ofertas h2{
        font-size: 2rem;
    }

    .ofertas div div img{
        margin-top: 1rem;
        height: 9rem;
    }

    .row .ofertas h3{
        margin: 0;
        font-size: 1rem;
    }

    .row .ofertas p{
        margin-top: 0;
        font-size: 1rem;
    }





    /*--Productos--*/
    .productosDestacados h2{
        font-size: 2rem;
    }   

    .productosDestacados div div img{
        height: 9rem;
    }




    /*--contactanos/miCuenta--*/
    .formulario{
        width: 19rem;
    }

    .formulario .form-group .form-control{
        font-size: 0.8rem;
        width: 15rem;
        height: 1.4rem;
    }

    .formulario .form-group .inputIngresar{
        height: 1.6rem;
        width: fit-content;
        font-size: 0.8rem;
    }

    .formulario .form-group .inputMensaje{
        width: 15rem;
        font-size: 0.8rem;
    }

    /*--SobreNosotros--*/
    .sobreNosotros{
        height: 90vh;
    }

    .sobreNosotros h2{
        margin-top: -10rem;
        font-size: 2.2rem;
    }

    .sobreNosotros p{
        text-align: center;
        font-size: 1rem;
    }





    /*--Footer--*/
    .footer h4{ 
        font-size: 0.8rem;
    }

    .bases h2{
        font-size: 1rem;
    }

    .bases p{
        font-size: 0.6rem;
    }


}




