@font-face {
  font-family: Goldplay;
  src: url("Goldplay.ttf"); }

* {
  margin: 0;
  padding: 0; }

body {
  background-color: antiquewhite;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr auto 0.1fr;
  grid-template-areas: "header"   "main" "footer"; }

footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #c5bbae;
  grid-area: footer; }
  footer div {
    text-align: center;
    padding-top: 2rem; }
  footer h4 {
    font-size: 1.4rem; }
  footer img {
    margin-top: 0.3rem;
    width: 2.3rem;
    height: 1.5rem; }
  footer .bases {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    footer .bases h2 {
      font-size: 1.5rem; }
    footer .bases .logoFooter {
      width: 5rem;
      height: 3rem; }

header {
  background-color: #c5bbae;
  display: flex;
  flex-wrap: wrap;
  grid-area: header; }
  header .navbar-nav {
    column-gap: 1rem; }
    header .navbar-nav li a {
      color: black;
      font-size: 1rem;
      font-weight: bold;
      transition: all 0.3s ease 0s; }
      header .navbar-nav li a:hover {
        color: #7e7c7c;
        font-size: 1.2rem; }
  header .dropdown {
    display: none; }

/*----------INDEX---------*/
/*--------CAROUSEL---------*/
.carousel-caption h5 {
  font-size: 3.8rem;
  text-shadow: 0 0 1rem black;
  animation: efecto_texto 2s; }

.carousel-caption p {
  font-size: 1.7rem; }

@keyframes efecto_texto {
  0% {
    margin-left: -150rem; } }

.ofertas {
  background-color: antiquewhite;
  padding-top: 1rem;
  height: 30rem; }
  .ofertas h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    transition: all 0.3s 0s; }
    .ofertas h2:hover {
      font-size: 3.5rem; }
  .ofertas div {
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    margin-bottom: 3rem; }
    .ofertas div div {
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: 1s; }
      .ofertas div div:hover {
        transform: scale(1.1); }
      .ofertas div div p {
        font-size: 1.5rem; }
      .ofertas div div img {
        height: 12rem;
        width: fit-content; }
      .ofertas div div .carrito {
        width: 2rem;
        height: 2rem; }

/*----------------TRABAJA CON NOSOTROS---------*/
.work-us {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem; }
  .work-us .card {
    height: 30rem;
    background-color: #c5bbae;
    border-radius: 1rem; }
    .work-us .card .row .img-fluid {
      height: 30rem;
      width: 50rem; }
  .work-us .card-body .card-title {
    margin-bottom: 3rem;
    font-weight: bold;
    font-size: 3rem; }
  .work-us .card-body .card-text {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 2rem; }
    .work-us .card-body .card-text button {
      border: 0px;
      background-color: antiquewhite;
      color: black;
      font-weight: bold; }

/*------------PRODUCTOS DESTACADOS---------*/
.productosDestacados {
  margin-bottom: 3rem; }
  .productosDestacados h2 {
    margin-top: 3rem;
    font-weight: bold;
    text-align: center;
    border: 0.1rem solid grey;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    font-size: 3rem;
    height: 10rem;
    text-align: center;
    transition: all 0.5s ease 0s; }
    .productosDestacados h2:hover {
      font-size: 3.5rem; }
  .productosDestacados div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-around; }
    .productosDestacados div div {
      display: flex;
      align-items: center;
      flex-direction: column;
      transition: 1s; }
      .productosDestacados div div:hover {
        transform: scale(1.1); }
      .productosDestacados div div img {
        width: 11rem;
        height: 11rem; }
      .productosDestacados div div h3 {
        font-size: 1.4rem; }
      .productosDestacados div div p {
        margin: 0.5rem;
        font-size: 1.2rem; }
      .productosDestacados div div .carrito {
        height: 2rem;
        width: 2rem; }

/*---------------SOBRE NOSOTROS---------*/
.sobreNosotros {
  height: 45rem;
  background: linear-gradient(rgba(0, 0, 0, 0.515), rgba(0, 0, 0, 0.48)), url(../images/kioskiriFrente4.png);
  background-size: 100% 100%;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .sobreNosotros h2 {
    color: white;
    font-size: 4rem;
    animation: efecto_texto 2s; }
  .sobreNosotros p {
    color: white;
    font-size: 1.5rem;
    font-style: italic;
    width: 70%;
    padding-top: 1rem;
    animation: efecto_texto 2s; }

.mapa {
  margin: 5rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center; }
  .mapa div {
    width: 70%;
    background-color: #c5bbae;
    border-radius: 1rem;
    display: flex;
    align-items: center; }
    .mapa div iframe {
      width: 70%;
      margin: 0.5rem;
      border-radius: 1rem; }
    .mapa div div {
      display: flex;
      flex-direction: column; }
      .mapa div div h2 {
        text-align: center;
        margin: 3rem;
        font-size: 1.4rem; }

/*----------------PREGUNTAS FRECUENTES---------------*/
.accordion {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  height: 80vh; }
  .accordion .text {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 3rem;
    width: 80%; }
  .accordion .accordion-item {
    margin: 0.4rem;
    background-color: #c5bbae;
    width: 80%; }
    .accordion .accordion-item .accordion-header .accordion-button {
      background-color: #c5bbae;
      width: 80%; }

/*-----------CONTACTANOS---------*/
.form {
  margin-bottom: 5rem;
  display: flex;
  justify-content: center; }
  .form form {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 28rem;
    color: black;
    background-color: #c5bbae; }
    .form form .btn {
      background-color: antiquewhite;
      border: 0px;
      color: black; }
  .form .mb-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .form .mb-3 .form-control {
      background-color: antiquewhite; }
    .form .mb-3 .form-text {
      background-color: white; }
    .form .mb-3 .form-label {
      font-size: 2.5rem;
      margin-bottom: 3rem; }
    .form .mb-3 .form-control {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 40rem;
      height: 2rem; }

/*----------MEDIA QUERIS---------*/
@media screen and (max-width: 992px) {
  /*-------HEROSECTION------*/
  .carousel-caption h5 {
    font-size: 3.3rem; }
    .carousel-caption h5 p {
      font-size: 1.2rem; }
  /*--------OFERTAS-------*/
  .ofertas div div h3 {
    font-size: 1.2rem; }
  /*----------PRODUCTOS DESTACADOS-------*/
  .productosDestacados h2 {
    font-size: 2.5rem; }
  .productosDestacados div div {
    margin-bottom: 2rem; }
    .productosDestacados div div h3 {
      font-size: 1.3rem; }
    .productosDestacados div div img {
      height: 10rem;
      width: fit-content; }
  /*-------------SOBRE NOSOTROS---------*/
  .sobreNosotros h2 {
    text-align: center;
    font-size: 3.7rem; }
  .sobreNosotros p {
    font-size: 1.4rem; }
  .mapa div {
    width: 70%; }
    .mapa div iframe {
      width: 70%;
      margin: 0.5rem;
      border-radius: 1rem; }
  /*----------mi cuenta-------------*/
  .form .mb-3 .form-control {
    width: 30rem; }
  /*--------preguntas------*/
  .accordion .text {
    text-align: center;
    font-size: 2.5rem; }
  /*---------Footer----------*/
  footer h4 {
    font-size: 1.2rem; }
  footer .bases h2 {
    font-size: 1.2rem; }
  footer .bases p {
    font-size: 0.8rem; } }

@media screen and (max-width: 768px) {
  header .navbar .navbar-brand img {
    width: 12rem;
    height: 7.2rem; }
  header .navbar-nav {
    column-gap: 0rem; }
  /*------herosection------*/
  .carousel-caption h5 {
    font-size: 3rem; }
  .carousel-caption p {
    font-size: 1.5rem; }
  /*---------ofertas------*/
  .ofertas h2 {
    font-size: 2.5rem; }
  .ofertas div div h3 {
    margin: 0;
    font-size: 1.3rem; }
  .ofertas div div img {
    height: 7.6rem;
    margin-top: 1rem; }
  .ofertas div div .carrito {
    height: 1.5rem;
    width: fit-content; }
  /*-----------productos destacados------*/
  .productosDestacados h2 {
    font-size: 2rem; }
  .productosDestacados div div h3 {
    font-size: 1.1rem; }
  .productosDestacados div div img {
    height: 9rem;
    width: fit-content; }
  /*---------sobre nosotros------*/
  .sobreNosotros h2 {
    font-size: 2.8rem; }
  .sobreNosotros p {
    font-size: 1.2rem; }
  .mapa div {
    width: 70%;
    background-color: #c5bbae;
    border-radius: 1rem;
    display: flex;
    align-items: center; }
    .mapa div iframe {
      width: 70%;
      margin: 0.5rem;
      border-radius: 1rem; }
    .mapa div div {
      display: flex;
      flex-direction: column; }
      .mapa div div h2 {
        text-align: center;
        margin: 3rem;
        font-size: 1.4rem; }
  /*----------trabaja con nosotros---------*/
  .work-us {
    height: 100vh; }
    .work-us .card {
      height: 52rem; }
      .work-us .card .row .img-fluid {
        height: 40rem; }
    .work-us .card-body .card-title {
      font-size: 2rem; }
  /*------mi cuenta-------*/
  form {
    width: 44rem; }
  .form .mb-3 .form-control {
    font-size: 0.9rem;
    width: 20rem; }
  /*--------preguntas-------*/
  /*-------footer---------*/
  footer div h4 {
    font-size: 1.2rem; }
  footer .bases h2 {
    font-size: 1.2rem; } }

@media screen and (max-width: 576px) {
  /*---------header--------*/
  header .navbar-nav {
    display: none; }
  header .dropdown {
    display: flex;
    position: absolute;
    top: 6%;
    left: 70%; }
    header .dropdown .btn {
      color: black;
      border: 0px;
      background-color: transparent;
      margin-bottom: 50rem; }
  header .dropdown-menu {
    background-color: #c5bbae; }
    header .dropdown-menu li {
      display: flex; }
      header .dropdown-menu li a {
        margin-top: 0.1rem;
        margin-left: 1rem;
        background-color: transparent;
        color: black;
        text-decoration: none; }
  /*------herosection------*/
  .carousel-caption h5 {
    font-size: 1rem; }
  /*----------ofertas---------*/
  .ofertas {
    height: 130vh; }
    .ofertas h2 {
      font-size: 3rem; }
    .ofertas div {
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .ofertas div div h3 {
        font-size: 0.8rem; }
      .ofertas div div img {
        height: 10rem; }
  /*---------productos--------*/
  .productosDestacados h2 {
    font-size: 2rem; }
  .productosDestacados div div img {
    height: 9rem;
    margin-top: 0; }
  /*-----mi cuenta-----*/
  /*-------sobre nosotros-------*/
  .sobreNosotros {
    height: 90vh; }
    .sobreNosotros h2 {
      text-align: center;
      font-size: 3rem; }
    .sobreNosotros p {
      font-size: 1rem;
      width: 90%; }
  .mapa div {
    width: 80%; }
    .mapa div iframe {
      width: 50%; }
    .mapa div div h2 {
      font-size: 1rem; }
  /*---------preguntas-------*/
  .accordion .text {
    font-size: 2rem; }
  /*-------trabaja con nosotros-----*/
  .work-us {
    height: 70rem; }
    .work-us .card {
      height: 70rem; } }

@media screen and (max-width: 450px) {
  header .navbar .navbar-brand .img-fluid {
    width: 11rem;
    height: 7rem; }
  .dropdown {
    width: 6rem; }
    .dropdown .btn {
      border: 0px;
      background-color: transparent;
      margin-right: auto; }
    .dropdown .menu {
      background-color: #c5bbae; }
      .dropdown .menu li a {
        margin-left: 1rem;
        background-color: transparent;
        color: black;
        text-decoration: none; }
  /*-----------ofertas---------*/
  .ofertas h2 {
    font-size: 2rem; }
  .ofertas div div img {
    margin-top: 1rem;
    height: 9rem; }
  .ofertas div div h3 {
    margin: 0;
    font-size: 1rem; }
  .ofertas div div p {
    margin-top: 0;
    font-size: 1rem; }
  /*-------productos----------*/
  .productosDestacados h2 {
    font-size: 2rem; }
  .productosDestacados div div img {
    height: 9rem; }
  /*---------mi cuenta--------*/
  form {
    width: 25rem; }
  .form .mb-3 .form-label {
    font-size: 2rem; }
  .form .mb-3 .form-control {
    width: 18rem; }
  .form .mb-3 .form-text {
    width: rem; }
  /*------sobre nosotros--------*/
  .sobreNosotros {
    height: 90vh; }
    .sobreNosotros h2 {
      font-size: 2.2rem; }
    .sobreNosotros p {
      text-align: center;
      font-size: 1rem; }
  .mapa div iframe {
    height: 20rem; }
  /*-------preguntas--------*/
  .accordion .text {
    font-size: 1.8rem; }
  .accordion .accordion-item {
    font-size: 0.9rem; }
    .accordion .accordion-item .accordion-header .accordion-button {
      font-size: 0.9rem; }
  /*-----trabaja con nosotros------*/
  .work-us .card-body .card-title {
    font-size: 1.3rem; }
  .work-us .card-body .card-text {
    font-size: 0.9rem; }
  /*------footer---------*/
  footer h4 {
    font-size: 0.8rem; }
  footer .bases h2 {
    font-size: 1rem; }
  footer .bases p {
    font-size: 0.6rem; } }

@media screen and (max-width: 360px) {
  /*-----header------*/
  header {
    width: 101%; }
    header header .navbar .navbar-brand .img-fluid {
      width: 10rem;
      height: 7rem; }
    header .dropdown {
      margin-left: 1rem;
      width: 6rem; }
      header .dropdown .btn {
        border: 0px;
        background-color: transparent;
        margin-right: auto; }
    header .dropdown-menu {
      background-color: #c5bbae; }
      header .dropdown-menu li a {
        margin-left: 1rem;
        background-color: transparent;
        color: black;
        text-decoration: none; }
  /*-----herosection------*/
  .carousel {
    width: 101%; }
  /*-----ofertas-----*/
  .ofertas h2 {
    font-size: 2rem; }
  .ofertas div div img {
    margin-top: 1rem;
    height: 9rem; }
  .ofertas div div h3 {
    margin: 0;
    font-size: 1rem; }
  .ofertas div div p {
    font-size: 1rem; }
  /*-----productos-----*/
  .productosDestacados div div h2 {
    font-size: 2rem; }
  .productosDestacados div div img {
    height: 9rem; }
  /*-------mi cuenta----*/
  .form .mb-3 .form-text {
    width: 15rem; }
  .form .mb-3 .form-control {
    width: 15rem; }
  /*-----sobre nosotros------*/
  .sobreNosotros {
    height: 90vh; }
    .sobreNosotros h2 {
      margin-top: -10rem;
      font-size: 2.2rem; }
    .sobreNosotros p {
      text-align: center;
      font-size: 1rem; }
  .mapa div {
    width: 21rem; }
    .mapa div iframe {
      height: 22rem;
      width: 10rem; }
    .mapa div div h2 {
      font-size: 0.7rem; }
  /*----preguntas-----*/
  .accordion .text {
    font-size: 1.5rem; }
  /*------footer----*/
  footer h4 {
    font-size: 0.8rem; }
  footer .bases h2 {
    font-size: 1rem; }
  footer .bases p {
    font-size: 0.6rem; } }
