/*----------INDEX---------*/
/*--------CAROUSEL---------*/
.carousel-caption{
    h5{
        font-size: 3.8rem;
        text-shadow: 0 0 1rem rgb(0, 0, 0);
        animation: efecto_texto 2s;
    }
    p{
        @extend .carousel-caption;
        font-size: 1.7rem;
    }
}
    @keyframes efecto_texto {
    0%{margin-left: -150rem;}
}

.ofertas{
    background-color: antiquewhite;
    padding-top: 1rem;
    height: 30rem;
    h2{
        text-align: center;
        font-size: 3rem;
        font-weight: bold;
        transition: all 0.3s 0s;
        &:hover{
            font-size: 3.5rem;
        }
    }
    div{
        display: flex;  
        justify-content: center;
        flex-wrap: wrap;
        justify-content: space-around;
        div{
            display: flex;
            align-items: center;
            flex-direction: column;
            border-radius: 15px;
            box-shadow: 10px 10px 21px -6px rgb(0, 0, 0.75);
            transition: 1s;
            &:hover{
                transform: scale(1.1);
            }
            p{
                font-size: 1.5rem;
            }
            img{
                height: 12rem;
                width: fit-content;
            }
            .carrito{
                width: 2rem;
                height: 2rem;
            }
        }
    }
}
/*----------------TRABAJA CON NOSOTROS---------*/
.work-us{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem;
    .card{
        height: 30rem;
        background-color: rgb(197, 187, 174);
        border-radius: 1rem;
        .row{
            .img-fluid{
                height: 30rem;
                width: 50rem;
            }
        }
    }
    .card-body{
        .card-title{
            margin-bottom: 3rem;
            font-weight: bold;
            font-size: 3rem;
        }
        .card-text{
            font-size: 1.5rem;
            font-weight: 400;
            margin-bottom: 2rem;
            button{
                border: 0px;
                background-color: antiquewhite;
                color: black;
                font-weight: bold;
            }
        }
    }
}