/*------------PRODUCTOS DESTACADOS---------*/
.productosDestacados{
    h2{
        text-align: center;
        margin: 2rem;
        font-weight: bold;
        font-size: 3rem;
        padding: 2rem;
        border-bottom: 0.1rem solid grey;
    }
    div{
        display: flex;  
        justify-content: center;
        flex-wrap: wrap;
        margin: 2rem;
        div{
            min-width: 17rem;
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 10px;
            border-radius: 15px;
            box-shadow: 10px 10px 21px -15px rgb(0, 0, 0.75);
            transition: 0.3s;
            &:hover{
                transform: scale(1.1);
            }

            @mixin formateo($alto, $ancho){
                width: $ancho;
                height: $alto;
            }

            img{
                width: 2rem;
                height: 2rem;
                padding: 0 1rem;
                @include formateo(11rem, fit-content);
            }
            h3{
                font-size: 1.4rem;
            }
            p{
                margin: 0.5rem;
                font-size: 1.2rem;
            }
           .carrito{
                    width: 4rem;
                    height: 2rem;

            }                    
        }
    }
}
