/*----------------TRABAJA CON NOSOTROS---------*/
.work-us{
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: 3rem;
    .card{
        display: flex;
        align-items: center;
        height: 30rem;
        background-color: rgb(197, 187, 174);
        .row .img-fluid{
            height: 30rem;
        }
    }
    .card-body{
        .card-title{
            margin-bottom: 3rem;
            font-weight: bold;
            font-size: 3rem;
        }
        .card-text{
            font-weight: 400;
            button{
                font-weight: bold;
            }
        }
    }
}
